@media screen and (max-width: 1199.98px) {
  .container {
    width: 100%;
  }

  html {
    font-size: 60%;
  }

  .header .header-box-1 .titulo {
    font-size: 5rem;
  }

  .header .header-box-1 .nome {
    font-size: 5rem;
  }

  .divider {
    width: 16.5rem;
  }

  .header .header-box-1 .cargo p {
    font-size: 1.6rem;
  }

  .header .header-box-2 img {
    width: 20rem;
  }

  .header .header-box-2 .circle,
  .circle2 {
    width: 40px;
    height: 40px;
    /* margin-top: 10rem; */
  }

  .header .header-box-2 .triangle-flex {
    margin-top: -10rem;
  }

  .header .header-box-2 .triangle-flex .triangle,
  .triangle2 {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid rgba(247, 225, 26, 0.856);
    margin-top: 5rem;
  }
}
@media screen and (max-width: 991.98px) {
  .container {
    width: 100%;
  }

  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 767.98px) {
  .header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    /* align-items: center; */
  }

  .header .header-box-2 .circle {
    margin-top: -15rem;
  }

  .header .header-box-2 .circle2 {
    margin-top: 8rem;
  }

  .header .header-box-1 {
    display: flex;
    align-items: center;
    height: 25rem;
  }

  .header .header-box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
  }

  .divider {
    margin-top: -4.1rem;
    margin-left: -25rem;
  }

  .menu .icon-mobile {
    display: none;
  }

  /* .overlay {
    display: none;
  } */

  .menu .menu-mobile {
    /* display: none; */
  }
}

@media screen and (max-width: 630px) {
  .container {
    width: 100%;
  }

  .menu {
    display: flex;
    padding: 1rem 2rem;
    height: 7.5rem;
  }

  .menu .menu-itens {
    display: none;
  }

  .menu .menu-mobile {
    /* display: none; */
  }

  .menu .icon-mobile {
    display: inline-block;
  }
}
@media screen and (min-width: 630px) {
  .menu .menu-mobile {
    display: none;
  }
  .overlay {
    display: none;
  }
}

@media screen and (max-width: 510px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 378px) {
  .container {
    width: 40rem;
  }

  .header .header-box-1 .titulo {
    font-size: 4rem;
  }

  .header .header-box-1 .nome {
    font-size: 4rem;
  }
}

@media (max-width: 320px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 320px) {
  .container {
    width: 100%;
  }
}
