:root {
  --background-primary: #f5f2ea;
  --btn-primary: #fdc886;
  --btn-primary-hover: #f5cd9c;
  --overlay: #83838317;
  --font-default: 1.6rem;
  --padding-sections: 2rem;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  font-weight: 400;
  /* background-color: var(--background-primary); */

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 120rem;
  height: 200rem;
  /* background-color: orange; */
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

.menu {
  /* background-color: olive; */
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .logo p {
  font-size: 1.6rem;
  font-weight: 500;
}

.menu .menu-itens {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.menu .menu-options ul {
  display: flex;
  gap: 0.5rem;
}

.menu .menu-options a,
a:visited,
li {
  text-decoration: none;
  list-style: none;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 0.7rem;
  color: #000;
  transition: all 0.4s ease-out;
}

.menu .menu-options li:hover {
  color: #7e7e7e;
}

.menu .btn-contact {
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: black;
  border: 2px solid #ccc;
  transition: all 0.4s ease-out;
}

.menu .btn-contact:hover {
  border-color: #f7e01a;
}

.header {
  margin-top: 4rem;
  /* height: 30rem; */
  padding: var(--padding-sections);
  /* background-color: #2f5e23; */
  display: flex;
}

.header .header-box-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60rem;
  /* background-color: #f5cd9c; */
}

.header .header-box-1 .titulo {
  font-size: 6rem;
  font-weight: 500;
  color: #3a3a3a;
}

.header .header-box-1 .nome {
  font-size: 6rem;
  font-weight: 600;
  color: #000;
}

.divider {
  width: 20rem;
  height: 0.5rem;
  background-color: #f7e01a;
  margin-top: -3.5rem;
}

.divider-thin {
  width: 8rem;
  height: 0.5rem;
  background-color: #f7e01a;
  margin-top: -3.5rem;
}

.header .header-box-1 .cargo {
  font-size: 1.6rem;
  color: #424242;
  font-weight: 500;
  margin-top: -3.5rem;
}

.header .header-box-1 .acao {
  display: flex;
  gap: 3rem;
}

.header .header-box-1 .btn-talk a {
  width: 20rem;
  padding: 1.2rem 2rem;
  border-radius: 2rem;
  background-color: #f7e01a;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.4s ease-out;
}

.header .header-box-1 .btn-talk a:hover {
  background-color: #e7d217;
}

.header .header-box-1 .btn-talk a:visited {
  color: #000;
}
.header .header-box-2 {
  width: 60rem;
  /* background-color: #f5cd9c; */
  display: flex;
  justify-content: right;
  gap: 2rem;
}

.circle {
  width: 60px;
  height: 60px;
  background: rgba(247, 225, 26, 0.829);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-right: -8rem;
  margin-top: 2rem;
  animation: bounce 3s infinite alternate;
  -webkit-animation: bounce 3s infinite alternate-reverse;
}

.circle2 {
  width: 80px;
  height: 80px;
  background: rgba(247, 225, 26, 0.438);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-top: 20rem;
  animation: bounce2 3s infinite alternate;
  -webkit-animation: bounce2 3s infinite alternate-reverse;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }

  75% {
    transform: translateX(20px);
  }

  80% {
    transform: translateY(-20px);
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }

  75% {
    transform: translateX(20px);
  }

  80% {
    transform: translateY(-20px);
  }
}

@keyframes bounce1 {
  0% {
    transform: translateY(0px);
    transform: translate(-80deg);
  }
  50% {
    transform: translateY(20px);
    transform: translate(-80deg);
  }

  75% {
    transform: translateX(20px);
    transform: translate(-58deg);
  }

  80% {
    transform: translateY(-20px);
    transform: translate(80deg);
  }
}
@-webkit-keyframes bounce2 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
    transform: translate(35deg);
  }

  75% {
    transform: translateX(-20px);
    transform: translate(-55deg);
  }

  80% {
    transform: translateY(20px);
    transform: translate(35deg);
  }
}

.header .header-box-2 .triangle-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 80px solid rgba(247, 225, 26, 0.384);
  transform: rotate(175deg);
  /* margin-left: 4rem; */
  animation: bounce 3s infinite alternate;
  -webkit-animation: bounce 3s infinite alternate;
}

.triangle2 {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 80px solid rgba(247, 225, 26, 0.856);
  transform: rotate(100deg);
  /* margin-left: 4rem; */
  animation: bounce2 3s infinite alternate;
  -webkit-animation: bounce2 3s infinite alternate-reverse;
}

.header .header-box-2 img {
  width: 25rem;
}

.portfolio {
  margin-top: 5rem;
  background-color: rgb(212, 118, 118);
  padding: var(--padding-sections);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.portfolio .title p {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  position: relative;
}

.portfolio .title p::before {
  content: '';
  position: absolute;
  top: 5.3rem;
  width: 4.5rem;
  height: 0.5rem;
  background-color: #f7e01a;
  margin-top: -3.5rem;
}

.portfolio .projects {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.portfolio .projects .card {
  width: 25rem;
  height: 35rem;
  background-color: rebeccapurple;
}
